/*! GENERAL-CONTAINER */
.padding-starter {
  padding: 50px 60px 20px;
}

.wave-down img, .wave-up img{
  width: 100% !important;
  height: 200px !important;
}


/*! HEADER */
header {
  /* background-color: var(--dark); */
  background-image: url("/SVG/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

/** HEADER NAV */
header nav {
  margin: 0px auto;
  background-color: var(--grey-dark);
  border-radius: 100px;
  padding: 3px;
  width: 45%;
}

header nav a {
  color: var(--light);
  transition: 700ms;
  border-radius: 100px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 20px;
  padding: 2px;
  width: 120px;
  text-align: center;
}

header nav a:hover {
  background-color: var(--primary);
}

/** HEADER CONTENTS */
.info-header-content {
  width: 70%;
  margin: 100px auto;
}

/*? HEADER TITLE */
.title-content h1,
.title-content p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: var(--primary);
  text-align: left;
}

.title-content h1 {
  font-size: 110px;
}

.title-content p {
  font-size: 30px;
  font-weight: 300;
}

/*? HEADER IMAGE AND LINKS */
.images-and-links img {
  width: 450px;
  box-shadow: -10px 10px 0px 0px var(--primary);
}

.url-svg {
  margin-top: 20px;

}

.url-svg a svg {
  width: 60px !important;
  height: 60px !important;
  box-shadow: none;
  height: unset;
  fill: var(--primary);
  color: var(--primary);
}

.url-svg a svg path {
  width: 100%;
}

/** SECTION1 */
/*! GLOBAL SETTINGS */
#presentation-section-global {
  width: 80%;
  margin: 100px auto;
}

#presentation-section h2 {
  margin: 50px auto 200px !important;
}

#row-works,
.vertical-line,
.about-me {
  height: 600px;
}

/*? WORKS PART */
/* GLOBAL CONT */
#row-works {
  width: 40%;
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

#row-works::-webkit-scrollbar {
  /* For Chrome, Safari and Opera */
  display: none;
}

#row-works h4 {
  color: var(--light);
  font-weight: 700;
  font-size: 1.3em;
}

.cont-data-work {
  width: 90%;
  margin: auto;
  /* padding: 20px 0px 0px; */
}

/* WORKS */
.work-display {
  background-color: var(--light);
  border-radius: 10px;
  width: 100%;
  margin: 30px auto;
  box-shadow: 2px 3px 4px 0px var(--dark);
}

/* IMAGE & TITLE */
.img-title-works {
  gap: 10px;
}

.imagen-prueba {
  background-color: red;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.work-display h5 {
  font-size: 1.7em;
  font-weight: 600;
  width: 200px;
  font-family: 'Roboto Mono', monospace;
  margin: 30px 0px;
}

/* WORKS LIST */
.lista {
  width: 80%;
  margin: auto;
}

.work-display ul {
  list-style-type: disc;
  padding: 20px 0px;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
}

.work-display ul li {
  letter-spacing: 1px;
}

.work-display ul li span {
  font-weight: 600;
}

/* ARROW BUTTON */

.icons-arrow button{
  background-color: transparent;
  border: none;
}

.icons-arrow button:scope{
  outline: none;
  border: none;
}

.icons-arrow button svg {
  width: 90px;
  height: 90px;
  fill: var(--secondary);
  stroke: var(--secondary);
}


.button-work-none {
  display: none;
}


/* LOGOS */

.logos {
  width: 100%;
  padding: 0px 0px 10px;
  gap: 10px;
}

.logos img {
  width: 50px;
  height: 50px;
  margin: 0px;
}


/*? VERTICAL LINE */
.vertical-line {
  width: 10px;
  /* height: 100px; */
  background-color: var(--light-primary);
}

/*? ABOUT ME */

.about-me {
  width: 45%;
  /* margin: auto; */
  padding: 20px 0px;

}

.about-me img {
  width: 250px;
  display: block;
  margin: -215px auto;
  /* position: absolute; */

}

.info-about-me {
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  background-color: var(--dark);
  border-radius: 10px;
}

.info-about-me h4 {
  color: var(--primary);
  margin: 250px auto 50px;
  font-size: 5em;
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Roboto Mono', monospace;
}

.info-about-me p {
  color: var(--light);
  font-weight: 300;
  font-size: 1.5em;
  font-weight: 400;
  width: 80%;
  margin: 10px auto 100px;
  text-align: justify;
  font-family: 'Inconsolata', monospace;

}

/*! PROJECTS */
/*? GLOBAL */
#projects-cont{
  width: 80%;
  margin: 100px auto;
  gap: 30px;
}

.project{
  border-radius: 10px;
  background-color: var(--light-primary);
  overflow: hidden;
}

#project-width70{
  gap: 30px;
}

/* PROJECT COLORS */
.project1-color{
  background-color: var(--secondary) !important;
}

.project2-color{
  background-color: var(--tertiary) !important;
}

.project3-color{
  background-color: var(--light-primary) !important;
}

.project4-color{
  background-color: var(--dark-light);
}

/*?TEXT */

.text-project{
  margin: 30px;
  display: block;
}

.little-project{
  margin-bottom: 0px !important;
}

.text-project h3{
  color: #fff;
  text-shadow: 0px 2px 9px rgb(0, 0, 0, 0.5);
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
  /* text-align: center; */
  font-family: 'Roboto Mono', monospace;
}

.projetc-logos{
  gap: 30px;
}

.project-logos img{
  width: 42px;
  height: 42px;
}

.little-project p{
  width: 80%;
}

.text-project p{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-shadow: 0px 2px 9px rgb(0, 0, 0, 0.5);
  font-weight: 500;
  color: white;
  letter-spacing: 1px ;
  text-align: justify;
}

/*? IMAGES PROJECTS */

#img1-project1{
  margin: 0px;
  height: 250px;
  margin-top: 30px;
}

#img1-project1 img{
  width: 100%;
  height: 100%;
}


#img3-project3{
  margin: 0px;
  width: 100%;
  height: 100%;
}

#img3-project3 img{
  width: 220px;
  height: 140px;
}