/*! GENERAL-CONTAINER */
.padding-starter {
  padding: 50px 60px 20px;
}

.wave-down img,
.wave-up img {
  width: 100% !important;
  height: 200px !important;
}


/*! HEADER */
header {
  background-color: var(--dark);
  /* background-image: url("/SVG/header.svg"); */

  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  padding-top: 100px;
}

/** HEADER NAV */
header nav {
  margin: 0px auto;
  background-color: var(--grey-dark);
  border-radius: 100px;
  padding: 3px;
  width: 45%;
}

header nav a {
  color: var(--light);
  transition: 700ms;
  border-radius: 100px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 1.3em;
  padding: 2px;
  width: 120px;
  text-align: center;
}

header nav a:hover {
  background-color: var(--primary);
}

/** HEADER CONTENTS */
.info-header-content {
  width: 70%;
  margin: 100px auto;
}

/*? HEADER TITLE */
.title-content h1,
.title-content p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: var(--primary);
  text-align: left;
}

.title-content h1 {
  font-size: 8em;
  margin: 0px;
  margin-bottom: 0px;
}

.mobile-title {
  display: none;
}

.title-content p {
  font-size: 2em;
  font-weight: 300;
  margin: 0px;
  color: var(--light-primary);
}

/*? HEADER IMAGE AND LINKS */
.images-and-links img {
  width: 100%;
  box-shadow: -15px 15px 0px 0px var(--primary);
}

.url-svg {
  margin-top: 20px;

}

.url-svg a {
  transition: 1s;
}

.url-svg a svg {
  width: 60px !important;
  height: 60px !important;
  box-shadow: none;
  height: unset;
  fill: var(--primary);
  color: var(--primary);
}

.url-svg a svg path {
  width: 100%;
}

/* HOVERS */
#github-hover:hover svg {
  animation: github-animation 4s forwards;
}

@keyframes github-animation {
  from {
    fill: #ffffff;
  }

  to {
    fill: #56d364;
    /* fill: #79c0ff; */
  }
}

#linkedin-hover:hover svg {
  animation: linkedin-animation 4s forwards;
}

@keyframes linkedin-animation {
  from {
    fill: #ffffff;
  }

  to {
    fill: #0077b5;
  }

}

#medium-hover:hover svg {
  animation: medium-animation 4s forwards;
}

@keyframes medium-animation {
  from {
    fill: #ffffff;
  }

  to {
    fill: #ed457c;
  }

}

@media (max-width: 1200px) {
  header nav{
    width: 70%;
  }

  .padding-starter{
    padding: 50px 20px 20px;
  }

  .title-content h1 {
    font-size: 6em;
  }

  .info-header-content{
    margin: 50px auto;
  }
}

@media (max-width: 902px){
  .info-header-content{
    width: 90%;
  }

  .title-content h1 {
    font-size: 5em;
  }

  .title-content p {
    font-size: 1.5em;
  }

  .images-and-links img {
    width: 70%;
    margin-left: auto;
  }

  .url-svg a svg {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (max-width: 670px){
  header nav{
    display: none !important;
  }

  .padding-starter{
    padding: 20px 20px 20px;
  }

  .info-header-content{
    flex-direction: column-reverse;
  }

  .images-and-links img {
    width: 60%;
    margin: auto;
    box-shadow: -9px 9px 0px 0px var(--primary);

  }

  .url-svg{
    justify-content: center !important;

  }

  .info-header-content h1{
    text-align: center;
    font-size: 4.5em;
  }

  .mobile-title{
    display: block;
    text-align: center;
    padding: 30px 0px;
  }

  .desktop-title{
    display: none;
  }

  .info-header-content p{
    display: none;
  }

  .url-svg{
    gap: 30px;
  }
  
  .url-svg a svg {
    width: 50px !important;
    height: 50px !important;
  }
}

@media (max-width: 425px){
  .padding-starter{
    padding: 20px 10px 0px;
  }

  .url-svg{
    gap: 10px;
  }

  .url-svg a svg {
    width: 50px !important;
    height: 50px !important;
  }

  .images-and-links img {
    width: 80%;
    box-shadow: -5px 5px 0px 0px var(--primary);
  }

  .info-header-content{
    margin-bottom: 0px !important;
  }

  .info-header-content h1{
    font-size: 3.5em;
  }

  .wave-down svg{
    width: 800px;
    height: 80px;
  
  }
}

/** SECTION1 */
/*! GLOBAL SETTINGS */
#presentation-section-global {
  width: 80%;
  margin: 100px auto;
}

#presentation-section h2 {
  margin: 50px auto 200px !important;
}

/* #row-works,
.vertical-line,
.about-me {
  height: 600px;
} */

/*? WORKS PART */
/* GLOBAL CONT */
#row-works {
  width: 40%;
  /* overflow: auto; */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

#row-works::-webkit-scrollbar {
  /* For Chrome, Safari and Opera */
  display: none;
}

#row-works h4 {
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
}

.cont-data-work {
  width: 90%;
  margin: auto;
  /* padding: 20px 0px 0px; */
}

/* WORKS */
.work-display {
  background-color: var(--white);
  border-radius: 10px;
  width: 100%;
  margin: 30px auto;
  /* box-shadow: 2px 3px 4px 0px var(--dark); */
}

/* IMAGE & TITLE */
.img-title-works {
  gap: 10px;
}

.imagen-prueba {
  /* background-color: red; */
  border: 2px solid var(--primary);
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.work-display h5 {
  font-size: 1.7em;
  font-weight: 600;
  width: 200px;
  font-family: 'Roboto Mono', monospace;
  margin: 30px 0px;
}

/* WORKS LIST */
.lista {
  width: 80%;
  margin: auto;
}

.work-display ul {
  list-style-type: disc;
  padding: 0px;
  margin: 0px;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
}

.work-display ul li {
  letter-spacing: 1px;
}

.work-display ul li span {
  font-weight: 600;
}

/* ARROW BUTTON */

.icons-arrow button {
  background-color: transparent;
  cursor: pointer;
  transition: 2s;
  border: none;
}

.icons-arrow button:scope {
  outline: none;
  border: none;
}

.icons-arrow button svg {
  width: 90px;
  height: 90px;
  fill: var(--primary);
  stroke: var(--primary);
}


.button-work-none {
  display: none;
}


/* LOGOS */

.logos {
  width: 100%;
  padding: 0px 0px 10px;
  gap: 10px;
}

.logos img {
  width: 50px;
  height: 50px;
  margin: 0px;
}


/*? VERTICAL LINE */
.vertical-line {
  width: 10px;
  /* height: 100px; */
  background-color: var(--light-primary);
}

/*? ABOUT ME */

.about-me {
  width: 45%;
  /* margin: auto; */
  padding: 20px 0px;

}

.about-me img {
  width: 250px;
  display: block;
  margin: -215px auto;
  /* position: absolute; */

}

.info-about-me {
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  background-color: var(--dark);
  border-radius: 10px;
}

.info-about-me h4 {
  color: var(--primary);
  margin: 250px auto 50px;
  font-size: 5em;
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Roboto Mono', monospace;
}

.info-about-me p {
  color: var(--light);
  font-weight: 300;
  font-size: 1.5em;
  font-weight: 400;
  width: 80%;
  margin: 10px auto 100px;
  text-align: justify;
  font-family: 'Inconsolata', monospace;

}

/*! TECHNOLOGIES */
#technologies-i-use {
  /* width: 80%; */
  padding: 50px 0px 150px;
}

#technologies-i-use h2 {
  margin-top: 0px;
  margin-bottom: 220px;
}

.icons-roulete img {
  max-width: 100px;

}

.circle-images {
  width: 300px;
  height: 300px;
  background-color: var(--dark-light);
  border-radius: 100%;
}

.circle-images h4 {
  color: var(--white);
  font-size: 2em;
  font-weight: 700;
  margin: 0px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;

}

.icons-roulete {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
}

/* IMAGEblockS */
.icons-roulete img {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.5s;
}

.icons-roulete img:hover {
  scale: 1.1;
}

/* ANIMACIONES IMAGES */

@keyframes float1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(0deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(0deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(0deg) translateY(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translate(-50%, -50%) rotate(30deg) translate(250px) rotate(-30deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(30deg) translate(250px) rotate(-30deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(30deg) translate(250px) rotate(-30deg) translateY(0px);
  }
}

@keyframes float3 {
  0% {
    transform: translate(-50%, -50%) rotate(60deg) translate(250px) rotate(-60deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(60deg) translate(250px) rotate(-60deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(60deg) translate(250px) rotate(-60deg) translateY(0px);
  }
}

@keyframes float4 {
  0% {
    transform: translate(-50%, -50%) rotate(90deg) translate(250px) rotate(-90deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(90deg) translate(250px) rotate(-90deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(90deg) translate(250px) rotate(-90deg) translateY(0px);
  }
}

@keyframes float5 {
  0% {
    transform: translate(-50%, -50%) rotate(120deg) translate(250px) rotate(-120deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(120deg) translate(250px) rotate(-120deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(120deg) translate(250px) rotate(-120deg) translateY(0px);
  }
}

@keyframes float6 {
  0% {
    transform: translate(-50%, -50%) rotate(150deg) translate(250px) rotate(-150deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(150deg) translate(250px) rotate(-150deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(150deg) translate(250px) rotate(-150deg) translateY(0px);
  }
}

@keyframes float7 {
  0% {
    transform: translate(-50%, -50%) rotate(180deg) translate(250px) rotate(-180deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg) translate(250px) rotate(-180deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(180deg) translate(250px) rotate(-180deg) translateY(0px);
  }
}

@keyframes float8 {
  0% {
    transform: translate(-50%, -50%) rotate(210deg) translate(250px) rotate(-210deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(210deg) translate(250px) rotate(-210deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(210deg) translate(250px) rotate(-210deg) translateY(0px);
  }
}

@keyframes float9 {
  0% {
    transform: translate(-50%, -50%) rotate(240deg) translate(250px) rotate(-240deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(240deg) translate(250px) rotate(-240deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(240deg) translate(250px) rotate(-240deg) translateY(0px);
  }
}

@keyframes float10 {
  0% {
    transform: translate(-50%, -50%) rotate(270deg) translate(250px) rotate(-270deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(270deg) translate(250px) rotate(-270deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(270deg) translate(250px) rotate(-270deg) translateY(0px);
  }
}

@keyframes float11 {
  0% {
    transform: translate(-50%, -50%) rotate(300deg) translate(250px) rotate(-300deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(300deg) translate(250px) rotate(-300deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(300deg) translate(250px) rotate(-300deg) translateY(0px);
  }
}

@keyframes float12 {
  0% {
    transform: translate(-50%, -50%) rotate(330deg) translate(250px) rotate(-330deg) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) rotate(330deg) translate(250px) rotate(-330deg) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(330deg) translate(250px) rotate(-330deg) translateY(0px);
  }
}

.icons-roulete img:nth-child(2) {
  transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(0deg);
  animation: float1 10s ease-in-out infinite;
  animation-delay: 0s;
}

.icons-roulete img:nth-child(3) {
  transform: translate(-50%, -50%) rotate(30deg) translate(250px) rotate(-30deg);
  animation: float2 10s ease-in-out infinite;
  animation-delay: 0.2s;
}

.icons-roulete img:nth-child(4) {
  transform: translate(-50%, -50%) rotate(60deg) translate(250px) rotate(-60deg);
  animation: float3 10s ease-in-out infinite;
  animation-delay: 0.4s;
}

.icons-roulete img:nth-child(5) {
  transform: translate(-50%, -50%) rotate(90deg) translate(250px) rotate(-90deg);
  animation: float4 10s ease-in-out infinite;
  animation-delay: 0.6s;
}

.icons-roulete img:nth-child(6) {
  transform: translate(-50%, -50%) rotate(120deg) translate(250px) rotate(-120deg);
  animation: float5 10s ease-in-out infinite;
  animation-delay: 0.8s;
}

.icons-roulete img:nth-child(7) {
  transform: translate(-50%, -50%) rotate(150deg) translate(250px) rotate(-150deg);
  animation: float6 10s ease-in-out infinite;
  animation-delay: 1s;
}

.icons-roulete img:nth-child(8) {
  transform: translate(-50%, -50%) rotate(180deg) translate(250px) rotate(-180deg);
  animation: float7 10s ease-in-out infinite;
  animation-delay: 1.2s;
}

.icons-roulete img:nth-child(9) {
  transform: translate(-50%, -50%) rotate(210deg) translate(250px) rotate(-210deg);
  animation: float8 10s ease-in-out infinite;
  animation-delay: 1.4s;
}

.icons-roulete img:nth-child(10) {
  transform: translate(-50%, -50%) rotate(240deg) translate(250px) rotate(-240deg);
  animation: float9 10s ease-in-out infinite;
  animation-delay: 1.6s;
}

.icons-roulete img:nth-child(11) {
  transform: translate(-50%, -50%) rotate(270deg) translate(250px) rotate(-270deg);
  animation: float10 10s ease-in-out infinite;
  animation-delay: 1.8s;
}

.icons-roulete img:nth-child(12) {
  transform: translate(-50%, -50%) rotate(300deg) translate(250px) rotate(-300deg);
  animation: float11 10s ease-in-out infinite;
  animation-delay: 2s;
}

.icons-roulete img:nth-child(13) {
  transform: translate(-50%, -50%) rotate(330deg) translate(250px) rotate(-330deg);
  animation: float12 10s ease-in-out infinite;
  animation-delay: 2.2s;
}

#not-animated{
  animation: none;
  width: 150px;
  transform: none;
  max-width: unset;
  max-height: unset;
  top: unset;
  left: unset;
  margin: 10px auto;
  cursor: default;
  display: block;
  position: unset;
}

#not-animated:hover{
  scale: 1;
}

/*! PROJECTS */
/*? GLOBAL */
#projects-cont {
  width: 80%;
  margin: 100px auto;
  gap: 30px;
}

.project {
  border-radius: 10px;
  background-color: var(--light-primary);
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
}

.project:hover {
  transform: scale(1.1);
}

#project-width70 {
  gap: 30px;
}

/* PROJECT COLORS */
.project1-color {
  background-color: var(--secondary) !important;
}


.project2-color {
  background-color: var(--tertiary) !important;
}

.project3-color {
  background-color: var(--light-primary) !important;
}

.project4-color {
  background-color: var(--dark-light);
}

/*?TEXT */

.text-project {
  margin: 20px auto 0px;
  width: 55%;
  margin-bottom: 0px;
  display: block;
}

.little-project {
  margin-bottom: 0px !important;
}

.text-project h3 {
  color: #fff;
  text-shadow: 0px 2px 9px rgb(0, 0, 0, 0.5);
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
  /* text-align: center; */
  font-family: 'Roboto Mono', monospace;
}

.projetc-logos {
  gap: 30px;
}

.project-logos img {
  width: 42px;
  height: 42px;
}

.little-project p {
  width: 80%;
}

.text-project p {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-shadow: 0px 2px 9px rgb(0, 0, 0, 0.5);
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  text-align: justify;
}

/*? IMAGES PROJECTS */

#img1-project1 {
  margin: 0px;
  height: 100%;
  margin-top: 30px;
}

#img1-project1 img {
  width: 100%;
  height: 250px;
}

#img2-project2 {
  margin: 0px;
  height: 130px;
}

#img2-project2 img {
  width: 220px;
  /* width: 100%; */
  height: 100%;
}

#img3-project3 {
  margin: 0px;
  width: 100%;
  height: 140px;
}

#img3-project3 img {
  width: 220px;
  height: 100%;
}

#img4-project4 {
  margin: 0px;
  height: 100%;
  margin-top: 30px;
}

#img4-project4 img {
  width: 350px;
  height: 300px;
}

/*! FOOTER */
footer h3{
  margin: 0px;
  color: var(--white);
  font-size: 32px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.link-media{
  width: 30%;
  margin: auto;
  padding: 40px 0px;
  gap: 10px;
}

.link-media a{
  width: 50px;
}

.link-media svg{
  fill: var(--primary);
  /* stroke: var(--primary); */
  width: 50px;
  height: 50px;
}

.stackoverflow-hover{
  stroke: var(--primary);
}