/*! COLORS */
:root {
  --dark: #191825;
  --dark-light: #2a2f4f;
  --grey-dark: #7F7C82;
  --primary: #bfa2db;
  --light-primary: #f0d9ff;
  --secondary: #9d76c1;
  --tertiary: #645caa;
  --light: #d9d9d9;
  --white: #fff;
}

/*! GLOBAL */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(260deg, #9d76c1, #ffffff);
  background-size: 400% 400%;


  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

/*! ANIMATIONS BACKGROUND */
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 38%
  }

  50% {
    background-position: 100% 63%
  }

  100% {
    background-position: 0% 38%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 38%
  }

  50% {
    background-position: 100% 63%
  }

  100% {
    background-position: 0% 38%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 38%
  }

  50% {
    background-position: 100% 63%
  }

  100% {
    background-position: 0% 38%
  }
}

/*! BACKGORUND */
.black-background {
  background-color: var(--dark);
}

.black-background h2{
  color: var(--primary) !important;
}

/*! CONTS */
.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 48%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

/* ! FONT */

h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  font-size: 6.5em;
  color: var(--dark);
  margin: auto;
  width: 60%;
  text-align: center;
  margin: 50px auto 200px;

}

/*! NAV */
nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light);
}


/*! FLEX */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.align-center,
.items-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

@media (max-width: 1014px)
{
  h2 {
    font-size: 5em;
  }
}

@media (max-width: 640px)
{
  h2 {
    font-size: 4em;
    width: 80%;
  }
}

@media (max-width: 480px)
{
  h2 {
    font-size: 3em;
    width: 90%;
    margin: 100px auto;
  }
}