/*! COLORS */
:root {
  --dark: #191825;
  --dark-light: #2a2f4f;
  --grey-dark: #7F7C82;
  --primary: #bfa2db;
  --light-primary: #f0d9ff;
  --secondary: #9d76c1;
  --tertiary: #645caa;
  --light: #d9d9d9;
}

/*! GLOBAL */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  /* background: rgb(191, 162, 219); */
  background: linear-gradient(330deg, rgba(191, 162, 219, 1) 20%, rgba(217, 217, 217, 1) 100%);
  background-attachment: fixed;
}

/*! BACKGORUND */
.black-background{
  background-color: var(--dark);
}

/*! CONTS */
.w-100{
  width: 100%;
}

.w-90{
  width: 90%;
}

.w-80{
  width: 80%;
}

.w-70{
  width: 70%;
}

.w-60{
  width: 60%;
}

.w-50{
  width: 48%;
}

.w-40{
  width: 40%;
}

.w-30{
  width: 30%;
}

/* ! FONT */

h2{
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  font-size: 5em;
  color: var(--dark);
  margin: auto;
  width: 40%;
  text-align: center;
}

/*! NAV */
nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light);
}


/*! FLEX */
.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.flex-start{
  justify-content: flex-start;
}

.flex-end{
  justify-content: flex-end;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-no-wrap{
  flex-wrap: nowrap;
}

.align-center, .items-center{
  align-items: center;
}

.align-end{
  align-items: flex-end;
}

.flex-column{
  flex-direction: column;
}