:root {
  --dark: #191825;
  --dark-light: #2a2f4f;
  --primary: #bfa2db;
  --light-primary: #f0d9ff;
  --secondary: #9d76c1;
  --tertiary: #645caa;
  --light: #d9d9d9;
}

body {
  background-color: linear-gradient(
    180deg,
    var(--primary) 0%,
    var(--light) 100%
  );
}
